name: gulp-sass

on:
  push:
    branches:
      - dev
      - stable4
    paths:
      - '**.scss'
  pull_request:
    branches:
      - dev
      - stable4
    paths:
      - '**.scss'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        node: [20]
        python: [3.11]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup node ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install Dependencies
        run: npm install

      - name: Running gulp-sass
        run: npm run build:sass
